body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;margin:0}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.conferenceList{grid-gap:8px;display:grid;gap:8px;grid-template-columns:repeat(3,1fr);grid-template-rows:repeat(auto-fit,1fr)}
/*# sourceMappingURL=main.304975f7.css.map*/